{% extends 'fields/index.html' %}
      {% block content %}
      <h1>Spis nawozów</h1>
      <div class="row">
        {% for fertilizer in fertilizers %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ fertilizer.fertilizer_name}}</h5>
              <p class="card-text">{{ fertilizer.price}}</p>
              <a href="update/{{fertilizer.id}}" class="btn my-2 menu-btn">Edytuj</a>
              <a href="delete/{{fertilizer.id}}" class="btn my-2 menu-btn">Usuń</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endblock %}
