{% extends 'fields/index.html' %}
  {% block content %}
  <h1>Zaloguj się</h1>
  <form action="" method = 'POST'>
    {% csrf_token %}
    <form>
      <div class="form-group ">
        <label for="exampleInputEmail1">Nazwa użytkownika</label>
        <input type="text" class="form-control" name="username" aria-describedby="emailHelp" placeholder="Nazwa użytkownika">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Hasło</label>
        <input type="password" class="form-control" name="password" placeholder="Hasło">
      </div>
      <br />
  <button type="submit" class="btn btn-primary menu-btn">Zaloguj się</button>
  </form>
  <br />
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
    {% endif %}
  {% endblock %}
