{% extends 'fields/index.html' %}
      {% block content %}
      <h1>Spis klas ziemi</h1>
      <div class="row">
        {% for class_field in class_fields %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ class_field.class_name}}</h5>
              <a href="update/{{class_field.id}}" class="btn my-2 menu-btn">Edytuj</a>
              <a href="delete/{{class_field.id}}" class="btn my-2 menu-btn">Usuń</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endblock %}
