{% extends 'fields/index.html' %}
      {% block content %}
      <h1>Spis roślin</h1>
      <a href="{% url 'add-plants-auto' %}" class="btn my-2 menu-btn">Dodaj bazę roślin</a>
      <div class="row">
        {% for plant in plants %}
        <div class="col-sm-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ plant.plant_name}}</h5>
              <p class="card-text">{{ plant.seed_price}}</p>
              <a href="update/{{plant.id}}" class="btn my-2 menu-btn">Edytuj</a>
              <a href="delete/{{plant.id}}" class="btn my-2 menu-btn">Usuń</a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    {% endblock %}
